@page
@model EducationModel
@{
    ViewData["Title"] = "Education";
}


    <div class="school">
    <a href = "https://www.augusta.edu/" target = "_blank"><img src = "~/images/augustau.png" alt = "AU Logo" width = "100" height = "100"><h3>Augusta University</h3></a>
    <div class = "details">
      <b>Location:</b> Augusta, GA
      <br><b>Years attended:</b> 2018 - Present
      <br><b>Major:</b> Computer Science
      <br><b>Minor:</b> General Studies
    </div>
    <h4>Honors, Awards, and Accomplishments</h4>
    <div class = "honors">
    <ul>
      <li>Cyber Defender Certificate</li>
      <li>Vice President of Delta Chi Fraternity</li>
      <li>Director of Information of IFC</li>
      <li>Director of Recruitment of IFC</li>
      
    </ul>
    </div>
    </div>
    <div class="school">
    <a href = "https://lakesidehs.ccboe.net/" target = "_blank"><img src = "~/images/lakeside.png" alt = "Lakeside Logo" width = "100" height = "100"><h3>Lakeside High School</h3></a>
    <div class = "details">
      <b>Location:</b> Martinez, GA
      <br><b>Years attended:</b> 2017-2018
    </div>
    </div>
    <div class="school">
    <a href = "https://wiesbadenhs.dodea.edu/" target = "_blank"><img src = "~/images/wiesbaden.png" alt = "WiesbadenHS Logo" width = "100" height = "100"><h3>Wiesbaden High School</h3></a>
    <div class = "details">
      <b>Location:</b> Wiesbaden, Germany
      <br><b>Years attended:</b> 2014-2017
    </div>
    <h4>Honors, Awards, and Accomplishments</h4>
    <div class = "honors">
    <ul>
      <li>Chorus Tenor 2014-2016</li>
      <li>Honors Music Festival - First Tenor 2015</li>
      <li>Track and Field - Mid-distance 2016-2017</li>
      <li>Football - Tight End 2014</li>
      
    </ul>
    </div>
    </div>