@page
@model GalleryModel
@{
    ViewData["Title"] = "Gallery";
}

<div class="gallery">
    <figure>
      <a href="~/images/1.JPG">
      <img src = "~/images/1_thumb.jpg" alt="Friends and I at ICE ball"></a>
      <figcaption>My best friends</figcaption>
    </figure>
    <figure>
      <a href="~/images/2.JPG">
      <img src = "~/images/2_thumb.jpg" alt="Me heehee"></a>
      <figcaption>Me again sorry</figcaption>
    </figure>
    <figure>
      <a href="~/images/3.PNG">
      <img src = "~/images/3_thumb.png" alt="Bartender things"></a>
      <figcaption>My friend Amelia and I at work</figcaption>
    </figure>
    <figure>
      <a href="~/images/4.jpg">
      <img src = "~/images/4_thumb.jpg" alt="My family"></a>
      <figcaption>My beautiful family</figcaption>
    </figure>
    <figure>
      <a href="~/images/5.JPG">
      <img src = "~/images/5_thumb.jpg" alt="Homecoming dinner"></a>
      <figcaption>I've met so many people by being involved in my organizations</figcaption>
    </figure>
    <figure>
      <a href="~/images/6.JPG">
      <img src = "~/images/6_thumb.jpg" alt="Me on a train in Italia"></a>
      <figcaption>I love to travel with friends</figcaption>
    </figure>
    <figure>
      <a href="~/images/7.JPG">
      <img src = "~/images/7_thumb.jpg" alt="Wining and dining"></a>
      <figcaption>I love to wine</figcaption>
    </figure>
    <figure>
      <a href="~/images/8.JPG">
      <img src = "~/images/8_thumb.jpg" alt="Me and my pledge brothers"></a>
      <figcaption>I pledged my fraternity in the Fall of 2018</figcaption>
    </figure>
</div>