@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="portrait">
    <img src="~/images/selfie_.JPG" alt="This is me!" width="250" height = "375">
    </div>
    <p>
      Thanks for stopping by! My name is Shawn Edwards and I am a senior Bachelor's of Science 
      student at Augusta University. I am majoring in a Computer Science and will be graduating in 
      December 2023. Right now, I work as a bartender at a hotel, but my plan is to land an internship 
      or shadowing program to explore the many disciplines in the Computer Science field. I have learned 
      much from my schooling, but there is still so much to learn, especially about where my passions lie 
      and what my niche is. I believe that working in the food and beverage industry has taught me - in a way 
      that I would not have previously expected - how to maintain healthy relationships with colleagues as well as 
      how to deal with clients of differing attitudes. Working in a fast-paced, high stress, environment can easily 
      spark conflict between co-workers. I had to learn this through experience. More importantly, I had to learn 
      how to remedy this myself as interpersonal relationships at work are still a personal responsibility. I am 
      grateful for all that I have learned and all of the relationships I have fostered through working as a bartender, 
      but I am now ready for the next step.
    </p>
    <h3>About Me</h3>
    <p>
      I grew up as a military child. My father was in the Army for 20 years, and as a result, my family had many homes. 
      I was born in Augusta, Georgia but I spent most of my childhood in Germany. I lived in Heidelberg, Germany for 
      three years before the army base there was shut down. I then moved to Wiesbaden, Germany and lived there until two weeks 
      into my senior year of high school. Coincidentally, my father found a job in Augusta, Georgia and we relocated back to my hometown 
      where I finished my senior year. The most interesting thing about living as a military child was not the experience itself, but the 
      realization that my experiences were more unique than I had expected. Moving back to Augusta, Georgia 2 weeks into my Senior year 
      of high school was a very culture shocking experience. Most of the other students at my school had lived in Augusta and gone to school with, 
      grown up with, made friendships with, the same people for their entire life. While I never had issues making friends and talking to new people, 
      it was definitely a lot more stressful than I admitted to myself at the time. Being a military child taught me so much about myself, other people, 
      and exposed me to so many cultures and experiences that I honestly took for granted until my early adulthood. While it was my normal for so much of my life, 
      I am so grateful now for how my experiences in early life shaped me into who I am now.
    
      <br><br>I picked up many hobbies throughout my life, some early on and some more recently. My hobbies include rock climbing, singing, video games (shocker), 
      and multimedia art. I have been singing and creating art from a young age and have just recently started songwriting and creating digital art.
    </p>
