@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li>
        <a href="~/Identity/Account/Manage/">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li>
        <form id="logoutForm" method="post" action="~/Identity/Account/Logout" style="display:inline">
            <a href="#" onclick="document.querySelector('#logoutForm').submit();return false;">Logout</a>
        </form>
    </li>
}
else
{
    <li>
        <a href="~/Identity/Account/Register/">Register</a>
    </li>
    <li>
        <a href="~/Identity/Account/Login/">Login</a>
    </li>
}
</ul>
