/* COLOR SCHEME: Cherry Cheesecake */
header, section, footer, aside, nav, main, article, figure {
display: block;
}
header {
  color:#F6E497;
  background-color:#B9121B;
  background-image: url(../images/headerimage.png);
  background-position: right;
  background-repeat: no-repeat;
  border-radius: 10px 10px 0 0;
  
}
nav {
  color:#4C1B1B;
  background-color:#F6E497;
  padding: 5px 10px;
  font-size: 14pt;
  font-weight: bold;
  box-shadow: 0 10px 5px -5px #BD8D46;
  position: relative;
  
}
a:active{
  color:#B3E4E4;
}
nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li{
  display: inline;
  margin-right: 10px;
}
nav a {
  color:#4C1B1B;
  background-color:#F6E497;
  text-decoration: none;
}
nav a:hover{
  border-top: 1px dashed #4C1B1B;
  border-bottom: 1px dashed #4C1B1B;
}
main{
  color:#4C1B1B;
  background-color:#FCFAE1;
  padding: 10px;
  z-index: 0;
  
}
main a{
  color:#4C1B1B;
}

main table{
  border: 1px solid #BD8D46;
  border-spacing: 0;
  border-collapse: collapse;
}

main td{
  border: 1px solid #BD8D46;
  padding: 5px;
}

main th{
  border: 1px solid #BD8D46;
  padding: 5px;
  color: #FCFAE1;
  background-color: #BD8D46;
  text-align: left; 
}

label{
  display: block;
  float: left;
  width: 150px;
  font-weight: bold;
}

input{
  display: block;
  width: 300px;
  margin-bottom: 5px;
  margin-left: 150px;
}

textarea{
  display: block;
  width: 300px;
  margin-bottom: 5px;
  margin-left: 150px;
  height: 75px;
}

select{
  display: block;
  width: 300px;
  margin-bottom: 5px;
  margin-left: 150px;
}

.collapsible {
  cursor: pointer;
}
.collapsible:before {
  content: '\21CA';
  margin-right: .5em;
}
.collapsible.closed:before {
  content: '\21C9';
}

footer{
  color:#F6E497;
  background-color:#B9121B;
  padding: 5px 10px;
  font-style: italic;
  font-size: 10pt;
  border-radius: 0 0 10px 10px;
}
footer a{
  color:#F6E497;
}
body{
  color:#F6E497;
  background-color:#4C1B1B;
  font-family: Calibri, Helvetica, Arial, sans-serif;
}
.details{
  color:#FCFAE1;
  background-color:#BD8D46;
}
h1{
  margin: 0;
  padding: 5px 10px;
  font-size: 42pt;
  line-height: 36pt;
  font-weight: lighter;
}
h2{
  margin: 0;
  padding: 0 10px 5px;
  font-size: 18pt;
  line-height: 22pt;
  font-weight: lighter;
  font-style: italic;
}
h3{
  font-size: 24pt;
  font-weight: lighter;
  margin: 0;
  
}
.experience, .school{
  font-size: 18pt;
  font-weight: lighter;
  margin: 20px;
  border-left: 10px solid #4C1B1B;
  border-right: 1px dashed #4C1B1B;
  border-top: 1px dashed #4C1B1B;
  border-bottom: 1px dashed #4C1B1B;
  padding: 5px 10px;
  overflow: auto;
  
}
.experience .title{
  font-size: 12pt;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 10px;
}
.experience h4{
  font-weight: lighter;
  margin: 0;
}
.experience .dates{
  font-size: 12pt;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 10px;
  float: right;
}
.experience .description{
  font-size: 11pt;
}
.experience ul{
  margin: 0;
}
.experience .responsibilities{
  font-size: 10pt;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}
.school .honors{
  font-size: 13pt;
}
.school .details{
  float: right;
  padding: 5px 10px;
}
.school img{
  float: left;
}
.school h3{
  margin: 0 0 0 120px;
}
.school h4{
  font-size: 14pt;
  font-weight: lighter;
  margin: 0 0 0 120px;
}
.school ul{
  margin: 0 0 0 120px;
}
.portrait img{
  float: right;
  padding: 10px 10px;
}
#wrapper{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
img{
  max-width: 100%;
  height: auto;
}
.gallery{
  text-align: center;
}
.gallery figure {
  margin: 10px 20px;
  width: 150px;
  display: inline-block;
  vertical-align: middle;
}
.gallery figcaption {
  text-align: center;
  font-size: 11pt;
}

