/* COLOR SCHEME: Cherry Cheesecake */
header, section, footer, aside, nav, main, article, figure {
display: block;
}

header{
  background-image: none;
}
h1{
  font-size: 24pt;
  line-height: 18pt;
}
h2{
  font-size: 14pt;
  line-height: 18pt;
}
h3{
  font-size: 16pt;
}
.experience h4{
  font-size: 14pt;
}
label{
  display: block;
  width: 150px;
  font-weight: bold;
}

input{
  display: block;
  width: 300px;
  margin-bottom: 5px;
  margin-left: 150px;
}

textarea{
  display: block;
  width: 300px;
  margin-bottom: 5px;
  margin-left: 150px;
  height: 75px;
}

select{
  display: block;
  width: 300px;
  margin-bottom: 5px;
  margin-left: 150px;
}

nav{
  padding: 5px 0;
  font-size: 11pt;
  text-align: center;
  box-shadow: 0 2px 4px #4C1B1B;
}
nav li{
  border: 2px solid #4C1B1B;
  margin: 3px;
  display: inline-block;
  width: 45%;
}
nav a{
  display: block;
  padding: 2px;
}
nav a:hover{
  border:none;
}
nav a:active{
  color: #4C1B1B;
  background-color: #F6E497;
}
.gallery figure{
  margin: 10px;
  width: 140px;
}
.experience{
  margin: 5px 0;
}
.experience .dates{
  float: none;
  font-size: 11pt;
}
.experience .title {
  font-size: 11pt;
}
.details{
  float: none;
}
.experience .responsibilities{
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  padding-left: 20px;
}
.experience ul{
  padding-left: 20px;
}
.school{
  margin: 5px 0;
}
.school img{
  display: none;
}
.school h3{
  margin: 0;
}
.school h4{
  margin: 0;
}
.school ul{
  margin: 0;
  padding-left: 20px;
}
.portrait img{
  float: none;
}