@page
@model self_promo_shawn.Pages.Admin.Responsibilities.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Responsibility</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Responsibility.Value)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Responsibility.Value)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Responsibility.Experience)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Responsibility.Experience.Company)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Responsibility.ResponsibilityId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
