@page
@model self_promo_shawn.Pages.Admin.Index.IndexModel
@{
    ViewData["Title"] = "Index";
}

<ul>
    <li><a href = "~/Admin/Experiences">Experiences</a></li>
    <li><a href = "~/Admin/Responsibilities">Responsibilities</a></li>
</ul>
