@page
@model self_promo_shawn.Pages.Admin.Experiences.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Experience</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Experience.Company" class="control-label"></label>
                <input asp-for="Experience.Company" class="form-control" />
                <span asp-validation-for="Experience.Company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Experience.JobTitle" class="control-label"></label>
                <input asp-for="Experience.JobTitle" class="form-control" />
                <span asp-validation-for="Experience.JobTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Experience.StartDate" class="control-label"></label>
                <input asp-for="Experience.StartDate" class="form-control" />
                <span asp-validation-for="Experience.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Experience.EndDate" class="control-label"></label>
                <input asp-for="Experience.EndDate" class="form-control" />
                <span asp-validation-for="Experience.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Experience.Description" class="control-label"></label>
                <input asp-for="Experience.Description" class="form-control" />
                <span asp-validation-for="Experience.Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Experience.IsProfessional" /> @Html.DisplayNameFor(model => model.Experience.IsProfessional)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
